@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}
.half {
  flex-basis: calc(50% - 20px);
}

p {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}
